name: Build & Publish Binaries to npm

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read


env:
  ALIYUN_SLS_ENDPOINT: ${{ vars.ALIYUN_SLS_ENDPOINT }}
  ALIYUN_SLS_LOGSTORE: ${{ vars.ALIYUN_SLS_LOGSTORE }}
  ALIYUN_SLS_PROJECT: ${{ vars.ALIYUN_SLS_PROJECT }}
  ALIYUN_SLS_ACCESS_KEY: ${{ secrets.ALIYUN_SLS_ACCESS_KEY }}
  ALIYUN_SLS_ACCESS_SECRET: ${{ secrets.ALIYUN_SLS_ACCESS_SECRET }}

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: win32
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: llc-launcher-rs.exe
            npm_package: llc-launcher-rs-win32
            os_field: win32

          - name: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: llc-launcher-rs
            npm_package: llc-launcher-rs-linux
            os_field: linux

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: ${{ matrix.target }}

      - name: Setup Zig
        if: matrix.name == 'linux'
        uses: mlugg/setup-zig@v2

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup linux dev packages
        if: matrix.name == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y ca-certificates make libc6-dev libssl-dev libcurl4-openssl-dev pkg-config
          sudo apt-get install -y libwayland-dev libxkbcommon-dev libegl1-mesa-dev libgbm-dev libasound2-dev libdbus-1-dev libx11-dev libxcursor-dev libxi-dev libxrandr-dev
          find /usr/include/ -name opensslconf.h
          find /usr/include/ -name opensslv.h
          find /usr/lib/x86_64-linux-gnu -name 'libssl*'
          pkg-config --cflags --libs openssl

      - name: Cache cargo registry + build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ matrix.target }}-

      - name: Cache cargo install bin (cargo-zigbuild)
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin
          key: ${{ runner.os }}-cargo-bin

      - name: cargo-zigbuild
        if: matrix.name == 'linux'
        run: |
          if ! command -v cargo-zigbuild > /dev/null; then
           cargo install --locked cargo-zigbuild
          fi

      - name: Build (zig)
        if: matrix.name == 'linux'
        run: cargo zigbuild --release --target=${{ matrix.target }}

      - name: Build (normal)
        if: matrix.name != 'linux'
        run: cargo build --release --target=${{ matrix.target }}

      - name: Package for npm
        run: |
          mkdir -p npm_pkg
          cp target/${{ matrix.target }}/release/${{ matrix.bin }} npm_pkg/${{ matrix.bin }}
          REPO_URL="https://github.com/${{ github.repository }}"
          
          # Write package.json
          cat > npm_pkg/package.json <<EOF
          {
            "name": "@lightsing/${{ matrix.npm_package }}",
            "version": "${{ github.ref_name }}",
            "repository": {
              "type": "git",
              "url": "git+${REPO_URL}.git"
            },
            "homepage": "${REPO_URL}",
            "bin": {
              "llc-launcher-rs": "${{ matrix.bin }}"
            },
            "os": ["${{ matrix.os_field }}"],
            "cpu": ["x64"],
            "description": "Platform-specific build of llc-launcher-rs",
            "license": "AGPL-3.0-or-later"
          }
          EOF
        shell: bash


      - name: Publish to npm
        run: |
          cd npm_pkg
          npm publish --access public
