name: Sync LLC Translations to NPM

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  sync-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout llc-sync branch
        uses: actions/checkout@v4
        with:
          ref: llc-sync

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Run Sync Script
        run: bash ./sync.sh
